fastapi
uvicorn

pdfplumber
pytesseract
Pillow
pdf2image

python-dateutil
numpy
faiss-cpu
sentence-transformers
torch
transformers
scikit-learn
scipy

google-genai

python-multipart
jinja2

pymongo
passlib[bcrypt]
python-jose
python-dotenv

pypdf
